<%- include('../partials/header') %>

<div class="container d-flex justify-content-center">
    <div class="row">
        <h1>Manage <%= home.name %></h1>    
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="/<%= home.id %>/edit?_method=PUT" method="POST" encType="multipart/form-data">
                <div class="mb-3">
                  <label for="freq" class="form-label">Title</label>
                  <input type="text" class="form-control" name="name" value="<%= home.name %>" id="freq" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <%- include('../partials/legend') %>
                  <label for="exampleInputPassword1" class="form-label">Article Body</label>
                  <textarea rows="10" cols="70" class="form-control" name="text"><%= home.text %></textarea>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Image</label>
                  <div class="d-flex justify-content-center">
                    <img class="edit-image" src="<%= home.image %>" alt="">
                  </div>
                  <br>
                  <input type="file" class="form-control" name="image" id="" value="<%= home.image %>">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr><br>
            <form class="foot-room" action="/<%= home.id %>/delete?_method=DELETE" method="POST">
                <div class="text-center text-danger">
                    <h2>PLEASE USE WITH CAUTION!</h2>
                    <p>This action can not be undone.</p>
                </div>
                <div class="text-center">
                    <button class="btn btn-sm btn-danger" onclick="return ConfirmDelete()" type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>