<%- include('../partials/header') %>

<div class="container d-flex justify-content-center">
    <div class="row">
        <h1>Manage Repeaters</h1>    
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="/about/<%= about.id %>/edit?_method=PUT" method="POST" encType="multipart/form-data">
                <div class="mb-3">
                  <label for="freq" class="form-label">Title</label>
                  <input type="text" class="form-control" name="title" value="<%= about.title %>" id="freq" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Text</label>
                  <textarea id="htmeditor" class="form-control" name="text"><%= about.text %></textarea><script src="https://htmeditor.com/js/htmeditor.min.js"      htmeditor_textarea="htmeditor"      full_screen="no"      editor_height="480"     run_local="no"> </script> 
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Images</label>
                  <div class="d-flex justify-content-center">
                    <img class="edit-image" src="<%= about.image %>" alt="">
                  </div>
                  <br>
                  <input type="file" class="form-control" name="image" id="" value="<%= about.image %>">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br><br><hr>
            <form class="text-center" action="/about/<%= about.id %>/delete?_method=DELETE" method="POST">
              <h2 class="text-danger">Proceed with CAUTION!</h2>
              <h3>This action can not be undone.</h3>
              <button class="btn btn-danger btn-sm" onclick="return ConfirmDelete()" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>